.atf {
    background: url('/images/atf-bg.jpg');
    background-size: cover;
}

.atf:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0E7DD3;
    opacity: .71;
    top: 0;
    left: 0;
}