.header {
    height: 450px;
    width: 100%;
    background: url('/images/header-bg.jpg');
    background-size: cover;
    z-index: 1000;
}

.header:after {
    content: '';
    background: rgba(6,106,180, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}