.atf {
    height: 100vh;
}

@media (max-width: 960px) {
    .project-phase-steps-wrapper {
        flex-direction: column;
    }
}

// #the-bote-challenge-logo {
//     z-index: 1000;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }