// /* general styling */

// header {
// 	width: 100%;
// 	height: 100vh;
// 	background: url(/images/asian.jpeg) no-repeat;
// 	background-size: cover;
// 	background-position: 50% 60%;
// }

// header:before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     background: linear-gradient(to right, #0084ff, #1ee1d1);
//     opacity: .9;
// }

// header.inner:before {
// 	height: 497px;
// }

// h1 {
// 	font-size: 100px;
// 	color: #fff;
// }

// h2 {
// 	font-size: 40px;
// 	font-family: bebas !important;
// }

// h3 {
// 	font-size: 30px;
// }

// p {
// 	font-size: 16px;
// }

// a {
// 	color: #fff;
// 	font-size: 13px;
// }

// a:hover {
// 	text-decoration: none;
// 	color: #fff;
// }

// #subtitle {
// 	padding-top: 40px;
// 	padding-bottom: 30px;
// }

// .cta-btn-a, .cta-btn-b {
// 	width: 203px;
// 	height: 54px;
// 	border: 2px solid #fff;
// 	border-radius: 5px;
// 	margin: 0 auto;
// }

// .cta-btn-a a, .cta-btn-b a {
// 	display: block;
// 	font-size: 14px;
// 	padding: 17px 0;
// }

// .cta-btn-b {
// 	border: none;
// 	background: linear-gradient(to right, #0084ff, #1ee1d1);
// 	margin: 0;
// }

// .cta-btn-b:hover {
// 	border: none;
// 	background: linear-gradient(to right, #1ee1d1, #0084ff);
// 	margin: 0;
// 	box-shadow: 4px 5px 27px 4px rgba(66,28,82,1);
//   transition: background-image .3s linear;
//   transition: box-shadow .3s linear;
// }

// .cta-btn-a span, .cta-btn-b span {
// 	height: 18px;
// 	width: 18px;
// 	border: 1px solid #fff;
// 	border-radius: 18px;
// 	display: inline-block;
// 	margin-left: 8px;
// 	box-sizing: content-box;
// }

// .cta-btn-a span i, .cta-btn-b span i {
// 	text-align: center;
// 	line-height: 18px;
// 	display: block;
// 	color: #ffffff;
// }

// textarea {
// 	resize: none;
// }

// .vertical-center {
// 	display: flex;
// 	align-items: center;
// }

// .icon-bar {
// 	background: #fff;
// }

// /* navbar */
// .navbar {
// 	border: none;
// 	height: 171px;
// }

// .navbar ul {
// 	padding: 60.5px 0;
// }

// .navbar-nav>li>a {
// 	font-family: bebas;
//   font-size: 17px;
// }

// .navbar-nav>li>a:hover{
// 	background-color: #421C52;
// 	border-radius: 5px;
// }

// .navbar-brand img {
// 		width: 140px;
//     	margin-top: -10px;
// 	}

// #active{
// 	color: #421C52 !important;
// }

// /* atf */
// .atf {
// 	position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 1;
// }

// .atf h1 {
// 	margin-bottom: 45px;
// 	font-family: bebas;
// 	font-size: 70px;
// }

// /* vision mission */
// .mission, .vision {
// 	height: 700px;
// }

// #title1 {
// 		font-size: 200px;
//     color: #000000;
//     font-family: bebas;
//     opacity: 0.1;
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     top: 1350px;
//     bottom: 0;
//     left: -1546px;
//     right: 0;
//     margin: auto;
// }

// #title2 {
//     font-size: 200px;
//     color: #000000;
//     font-family: bebas;
//     opacity: 0.1;
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     top: -340px;
//     bottom: 0;
//     left: 904px;
//     right: 0;
//     margin: auto;
//     z-index: -1;
// }

// #title3 {
//     font-size: 250px;
//     color: #000000;
//     font-family: bebas;
//     opacity: 0.1;
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     top: -713px;
//     bottom: 0;
//     left: -767px;
//     right: 0;
//     margin: auto;
//     z-index: -1;
// }

// @media (max-width: 979px){

// #title2 {
//     font-size: 95px;
//     color: #000000;
//     font-family: bebas;
//     opacity: 0.1;
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     top: -535px;
//     bottom: 0;
//     left: -245px;
//     right: 0;
//     margin: auto;
//     z-index: -1;
// }

// }

// /* value prop */
// .value-prop {
// 	height: 722px;
// }

// .value-prop img {
// 	margin-bottom: 5%;
// }

// .value-prop h3 {
// 	font-size: 30px;
// 	margin-bottom: 5%;
// }

// .value-prop p {
// 	font-size: 16px;
// 	margin-bottom: 15%;
// }

// .value-prop .cta-btn-a {
// 	margin: 0;
// }

// .value-prop .cta-btn-a, .value-prop .cta-btn-a span {
// 	border-color: #12a0f5;
// 	color: #12a0f5;
// }

// .value-prop .cta-btn-a a, .value-prop .cta-btn-a i {
// 	color: #12a0f5;
// }

// /* features */

// .features div.row > div {
// 	height: 394px;
// 	display: table;
// }

// .features div.row > div:first-child {
// 	background: #016ffc;
// }

// .features div.row > div:nth-child(2) {
// 	background: #028cf5;
// }

// .features div.row > div:nth-child(3) {
// 	background: #04b0ec;
// }

// .features div.row > div:last-child {
// 	background: #06cbe2;
// }

// .features .wrapper {
// 	display: table-cell;
// 	vertical-align: middle;
// 	padding-left: 5%;
// }

// .features p {
// 	color: #fff;
// 	font-size: 30px;
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 700;
// }

// .features span {
// 	width: 89px;
// 	height: 3px;
// 	background: #fff;
// 	display: block;
// }

// /* testimonials */

// #testimonials {
// 	height: 900px;
// 	background: linear-gradient(to right, #0084ff, #1ee1d1);
// }

// #testimonials .wrapper {
// 	position: relative;
// 	top: 50%;
// 	transform: translateY(-50%);
// }

// .carousel-control {
// 	background: none !important;
// }

// .item {
// 	padding: 0 20%;
// }

// .item img {
// 	margin: 0 auto;
// 	padding: 0 100px !important;
// }

// .item h3 {
// 	font-size: 35px;
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 700;
// }

// .item h4 {
// 	font-size: 22px;
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 600;
// }

// .item p {
// 	font-family: 'Open Sans', sans-serif;
// 	font-style: italic;
// 	font-size: 20px;
// }

// .item p, .item h3, .item h4 {
// 	color: #fff;
// }

// ul.social-media-icons {
//     margin: 0 auto;
//     margin-top: 51px;
//     padding: 0;
//     width: 138px;
//     /*width: 192px;*/
// }

// ul.social-media-icons li {
//     float: left;
//     list-style: none;
//     height: 54px;
//     width: 54px;
//     border: 1px solid #fff;
//     border-radius: 54px;
// }

// ul.social-media-icons li:nth-child(2) {
// 	margin: 0 15px;
// }

// ul.social-media-icons li a i {
//     color: #fff;
//     text-align: center;
//     display: block;
//     margin: 13px 0;
// }

// ul.social-media-icons li:hover {
// 	background: #fff;
// }

// ul.social-media-icons li:first-child:hover i {
// 	color: #06dcff;
// }

// ul.social-media-icons li:nth-child(2):hover i {
// 	color: #3D5A9A;
// }

// ul.social-media-icons li:nth-child(3):hover i {
// 	color: #DD4B39;
// }

// .left-arrow, .right-arrow {
// 	position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background: rgba(250, 250, 250, .1);
//     border-radius: 100%;
// }

// .left-arrow img, .right-arrow img {
// 	width: 34px;
// 	margin: 28px;
// }

// /* contact */

// .contact {
// 	margin-top: 193px;
// }

// .contact h3 {
// 	font-size: 40px;
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 700;
// }

// .contact hr {
// 	margin: 75px 0 85px 0;
// }

// .contact input[type="text"],
// .contact input[type="tel"],
// .contact input[type="email"],
// .contact textarea {
// 	height: 54px;
// 	background: #fafafa;
// 	border: none;
// 	box-shadow: none;
// }

// .contact textarea {
// 	height: 171px;
// }

// .contact button {
// 	font-family: 'Montserrat', sans-serif;
// 	font-weight: 600;
// 	font-size: 14px;
// }

// /* Chrome/Opera/Safari */
// .contact input::-webkit-input-placeholder,
// .contact textarea::-webkit-input-placeholder {
//   color: #cdcdcd;
//   font-size: 14px;
// }

// /* Firefox 19+ */
// .contact input::-moz-placeholder,
// .contact textarea::-moz-placeholder {
//   color: #cdcdcd;
//   font-size: 14px;
// }

// /* IE 10+ */
// .contact input:-ms-input-placeholder,
// .contact textarea:-ms-input-placeholder {
//   color: #cdcdcd;
//   font-size: 14px;
// }

// /* Firefox 18- */
// .contact input:-moz-placeholder,
// .contact textarea:-moz-placeholder {
//   color: #cdcdcd;
//   font-size: 14px;
// }

// .contact .cta-btn-b {
// 	color: #fff;
// }

// /* footer */

// .footer ul {
// 	list-style: none;
// 	padding: 0;
// }

// .footer li {
// 	margin-bottom: 1em;
// }

// .footer h3 {
// 	font-size: 25px;
// 	font-family: 'Montserrat', sans-serif;
// 	font-weight: 600;
// 	margin-bottom: 39px;
// }

// .footer a {
// 	font-size: 15px;
// 	font-family: 'Montserrat', sans-serif;
// 	color: #919191;
// }

// /* calendar of events page*/

//  div#coe1 img {
// 	width: 320px;
// }

// div#coe2 img {
// 	width: 320px;
// } 

// div#coe3 img {
// 	width: 320px;
// }

// div#coe4 img {
// 	width: 320px;
// }  

// div#coe5 img {
// 	width: 320px;
// } 

// div#coe6 img {
// 	width: 320px;
// } 

// /* media queries */

// @media only screen and (max-width: 768px) {
// 	.vertical-center {
// 		display: block;
// 	}

// 	.navbar {
// 		padding: 0 30px;
// 	}

// 	.navbar-brand img {
// 		width: 73px;
// 	}

// 	.atf {
// 		width: 90%;
// 	}

// 	.atf h1 {
// 		font-size: 50px;
// 	}

// 	.mission, .vision {
// 		height: initial;
// 	}

// 	.mission > .row, .vision > .row {
// 		margin-top: 75px !important;
// 	}

// 	.mission > .row > div:first-child, .vision > .row > div:first-child {
// 		display: none;
// 	}

// 	.mission > .row > div:nth-child(2), .vision > .row > div:nth-child(2) {
// 		margin-bottom: 30px;
// 	}

// 	.mission > .row > div:nth-child(3), .vision > .row > div:nth-child(3) {
// 		margin-bottom: 75px;
// 	}

// 	.value-prop {
// 		height: initial;
// 		padding: 0 30px;
// 	}

// 	.value-prop img {
// 		margin: 0;
// 		margin-bottom: 15px;
// 	}

// 	.value-prop h3 {
// 		margin-top: 0;
// 		margin-bottom: 15px;
// 	}

// 	.value-prop p {
// 		margin-bottom: 15px;
// 	}

// 	.value-prop > .row > div {
// 		margin-bottom: 50px;
// 	}

// 	.value-prop > .row > div:last-child {
// 		margin-bottom: 75px;
// 	}

// 	#testimonials h3 {
// 		font-size: 30px;
// 	}

// 	#testimonials h4 {
// 		font-size: 18px;
// 	}

// 	#testimonials p {
// 		font-size: 16px;
// 	}

// 	.item img {
// 		padding: 0 !important;
// 	}

// 	.left-arrow, .right-arrow {
// 		width: 50px;
// 		height: 50px;
// 	}

// 	.left-arrow img, .right-arrow img {
// 		width: 22px;
//     	margin: 14px;
// 	}

// 	.contact {
// 		margin-top: 50px;
// 		padding: 30px;
// 	}

// 	.contact hr {
// 		margin-top: 50px;
// 		margin-bottom: 30px;
// 	}

// 	.footer {
// 		margin-bottom: 75px !important;
// 	}

// 	.footer h3 {
// 		margin-bottom: 15px;
// 	}

// 	.footer > .row > ul {
// 		padding: 0 30px;
// 	}

// 	.footer > .row > ul:first-child img {
// 		margin: 0 auto;
// 		display: block;
// 	}
// }


// @font-face { font-family: bebas;
// 					src: url('/fonts/BEBAS.ttf');
//  }

//  /* inner pages */

//  .inner .atf {
//  	position: static;
//  	transform: none;

//  }
//  .inner .atf h1 {
//  	margin-top: 75px;
//  	margin-bottom: 15px;
//  	font-family: bebas!important;
//  }

// @media screen and (min-width: 992px) {
//  .inner.calendar .col-md-4 {
//  	width: calc((100% / 3) - 40px);
//  	margin: 20px;
//  }
// }

// @media screen and (max-width: 768px) {
// 	.inner .atf h1 {
//   	margin-top: 0 !important;
//   }
// 	.inner.calendar .row {
// 		padding: 50px 0;
// 	}
// 	.inner.calendar h3 {
//  		margin-bottom: 30px !important;
//  	}
//  .inner.about-us .row {
// 	 margin: 0 !important;
//  }
// }

// @media screen and (min-width: 768px) and (max-width: 992px) {
// 	.container {
// 		width: initial !important;
// 	}
// 	.inner.about-us img {
// 		width: 100% !important;
// 	}
// }

// @media screen and (max-width: 375px) {
// 	.navbar-collapse {
// 		 position: relative;
// 		 z-index: 9999;
// 		 background: #fff;
// 	}
// }

// @media screen and (min-width: 768px) and (max-width: 1024px) {
// 	.vision .row {
// 		margin-top: 0 !important;
// 	}
// 	.mission .row {
// 		margin-top: 0 !important;
// 	}
// 	.mission, .vision {
//     height: initial !important;
// 		padding: 30px !important;
// 	}
// }

// @media screen and (max-width: 1170px) {
// 	#title1, #title2, #title3 {
// 		display: none;
// 	}
// }

// .navbar {
// 	position: fixed;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	z-index: 9999;
// 	transition: all .9s ease;
// 	width: 100%;
// }

// @media screen and (max-width: 992px) {
// 	.navbar {
// 		width: 100% !important;
// 	}
// }

// .alternate-nav {
// 	background: #fff;
// 	border-radius: 0;
// 	border-bottom: 2px solid #0084ff;
// 	height: 173px;
// }

// .alternate-nav a {
// 	color: #333;
// }

// .alternate-nav a:hover {
// 	color: #fff;
// }

// .alternate-nav .icon-bar {
// 	background: #333;
// }

// @media screen and (max-width: 768px) {
// 	.alternate-nav {
// 		height: 87px;
// 	}

// 	.navbar-toggle {
// 		margin-top: 26.5px;
// 	}

// 	.navbar ul {
// 		padding: 0 !important;
// 		padding-top: 18.5px !important;
// 	}
// }

// .inner .atf {
// 	padding-top: 171px;
// }
