.search-form {
    bottom: 20px;
    right: 20px;
    z-index: 1002;
}

.search-form input[type=text] {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 250px;
}

.search-form button[type=submit] {
    background: #0091FC;
    border: none;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.25rem;
    margin-left: -25px;
}