// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Old Website
@import 'old';

// Multilevel Dropdown Menu
@import 'multilevel-dropdown-menu';

// Navbar
@import 'navbar';

// Header
@import 'header';

// Search Form
@import 'search-form';

// ATF
@import 'atf';

// Home
@import 'home';

// About
@import 'about';

// Sidebar
@import 'sidebar';

// Switch
@import 'switch';

@font-face {
    font-family: "Nature Spirit Regular";
    src: url('/fonts/NatureSpiritRegular.otf');
}

.nature-spirit-regular {
    font-family: "Nature Spirit Regular";
}

@font-face {
    font-family: "Quicksand Bold";
    src: url('/fonts/Quicksand-Bold.otf');
}

.quicksand-bold {
    font-family: "Quicksand Bold";
}

@font-face {
    font-family: 'DIN Condensed Bold';
    src: url('/fonts/DINCondensed-Bold.woff');
}

.din-condensed-bold {
    font-family: 'DIN Condensed Bold';
}

.font-size-xl {
    font-size: 12.5rem;
}

.font-size-lg {
    font-size: 7.5rem !important;
}

.font-size-md {
    font-size: 4.5rem;
}

.font-size-sm {
    font-size: 6rem;
}

.font-size-xs {
    font-size: 1.75rem;
}

.primary-color {
    color: #0E7DD3;
}

.secondary-color {
    color: #807D7D;
}

p {
    font-size: 1.1rem;
}

// .about-us {
//     height: 300px;
//     background: aqua;
// }

.custom-link {
    font-size: 1.2rem;
}

.step h3 {
    font-size: 5.5rem;
}

.step .rounded-circle {
    width: 150px;
    height: 150px;
}